.buttons{
    padding: 35px 75px;
    border-radius: 15px;
    background-color: rgb(66, 106, 214);
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;                
       
    

}